
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inscription :</title>
  <!-- Inclure les fichiers CSS de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <!-- Inclure les fichiers JavaScript de Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Inscription :</h2>
        <form [formGroup]="snapForm">
          
          <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom"
             formControlName="nom">
          </div>

          <div class="form-group">
            <label for="nom">Nom en arabe :</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom en arabe"
             formControlName="nomArabe">
          </div>

          <div class="form-group">
            <label for="nom">Prénom :</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez votre prénom"
             formControlName="prenom">
          </div>

          <div class="form-group">
            <label for="nom">Prénom en arabe :</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez votre prénom en arabe"
             formControlName="prenomArabe">
          </div>

          <div class="form-group">
            <label for="nom"> Date de naissance :</label>
            <input type="date" class="form-control" id="nom" 
             formControlName="dateNaissance">
          </div>

          <div class="form-group">
            <label for="nom"> CIN :</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez votre cin"
            type="text" formControlName="cin">
          </div>

          <div class="form-group">
            <label for="nom"> Profession :</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez votre Profession"
            type="text" formControlName="profession">
          </div>


          <div class="form-group">
            <label for="exampleFormControlSelect1"> selectionnez votre type de carte</label>
            <select class="form-control" id="exampleFormControlSelect1" placeholder="Entrez votre type de carte"
            formControlName="typeCarte">
              <option value="A"> A</option>
              <option value="B">B</option>
            </select>
          </div>


          <div class="form-group">
            <label for="exampleFormControlFile1">Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1"
            formControlName="image" (change)="onFileChanged($event)">
          </div>

          
          







          
          <button type="submit" class="btn btn-danger"
          (click)="onSubmitForm()">Envoyer</button>
          &nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary"
          [disabled]="!isValid" (click)="chargerPdf()">Consulter PDF</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>